*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
    text-align: center;
}

html, body{
    background-color:#642A7D;
}

footer{
    border: 2px solid #8336A4;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
footer{
    background-color: #A049C5;
}

img{
    width: 40%;
    float: right; 
    width: 30%; 
    margin: 10px 40px; 
    padding: 5px; 
    border: 1px solid black
}