*{
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
}

html, body{
    background-color:#672725;
}

nav, footer, fieldset{
    border: 2px solid #8D3431;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

fieldset{
    width: 40%;
    display:inline-block;
    height: 30px;
    background-color: #B4413D;
}

nav, footer{
    background-color: #C95F5B;
}